/*	 Import Fonts
---------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,500,800,900,300,200,100);
/*	 Font variables
---------------------------------------------------------------------------------------------- */
/*	 Important variables
---------------------------------------------------------------------------------------------- */
.progress {
  border-radius: 2px;
}
.progress.progress-xs {
  height: 8px;
}
.progress.progress-sm {
  height: 12px;
}
.progress.progress-md {
  height: 16px;
}
.progress.progress-lg {
  height: 30px;
}
.progress-bar {
  background-color: #6C7A89;
}
.progress-bar-success {
  background-color: #2ecc71;
}
.progress-bar-warning {
  background-color: #f7ca18;
}
.progress-bar-danger {
  background-color: #fc6042;
}
.progress-bar-info {
  background-color: #2c82c9;
}
.progress-bar-primary {
  background-color: #03cacc;
}
