/*	 Import Fonts
---------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,500,800,900,300,200,100);
/*	 Font variables
---------------------------------------------------------------------------------------------- */
/*	 Important variables
---------------------------------------------------------------------------------------------- */
/*******************   Contents    *******************
*  
*  1. calendar
---------------------------------------------------------------------------------------------- */
/*   calendar
---------------------------------------------------------------------------------------------- */
.calendar-dashboard {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
.calendar-dashboard .calendar-head {
  background: #F9F9F9;
  color: #8a8c8f;
  height: 80px;
  position: relative;
  display: block;
  padding-left: 20px;
}
.calendar-dashboard .calendar-head a {
  color: #8a8c8f;
  font-size: 20px;
  line-height: 80px;
  float: left;
  display: inline-block;
  outline: none;
}
.calendar-dashboard .calendar-head a h4 {
  display: inline-block;
}
.calendar-dashboard .calendar-head a i {
  font-size: 32px;
}
.calendar-dashboard .calendar-head a:last-child {
  float: right;
  position: absolute;
  right: 20px;
  top: 0;
}
.calendar-dashboard .calendar-head h4 {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
}
.calendar-dashboard .calendar-head p {
  font-size: 16px;
  background: #fc6042;
  width: 90px;
  padding: 3px 5px;
  margin: 0px auto;
  border-radius: 15px;
}
.calendar-dashboard .table {
  padding: 5px;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  padding-bottom: 10px;
}
.calendar-dashboard .table a {
  color: #8a8c8f;
  font-size: 12px;
  font-size: 400;
  cursor: pointer;
}
.calendar-dashboard .table a.current {
  background-color: #2ecc71;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 10px 7px;
}
.calendar-dashboard .table a .event {
  font-size: 8px;
  display: block;
}
.calendar-dashboard .table a:hover {
  text-decoration: none;
}
.calendar-dashboard .table thead {
  font-weight: bold ;
}
.calendar-dashboard .table td {
  padding: 6px;
  text-align: center;
}
.calendar-dashboard .table tbody tr.dias_semana td {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
.calendar-dashboard .table > thead > tr > th,
.calendar-dashboard .table > tbody > tr > th,
.calendar-dashboard .table > tfoot > tr > th,
.calendar-dashboard .table > thead > tr > td,
.calendar-dashboard .table > tbody > tr > td,
.calendar-dashboard .table > tfoot > tr > td {
  border-top: 0px;
}
/*   Weather
---------------------------------------------------------------------------------------------- */
#locations li {
  height: 60px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: block;
}
#locations li.sunny {
  background-color: #FDB530;
}
#locations li.cold {
  background-color: #5F6970;
}
#locations li.cool {
  background-color: #1EB8E3;
}
#locations li .city,
#locations li .weather {
  width: 50%;
  display: inline-block;
  float: left;
}
#locations li .city {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 0 10px;
}
#locations li .city span {
  display: block;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 400;
}
#locations li .weather {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 20px 30px 0 0;
}
#locations li .weather span {
  font-size: 18px;
  line-height: 10px;
  vertical-align: super;
  padding: 0 0 0 5px;
  opacity: 0.5;
}
#locations .add-city {
  padding: 10px;
  background-color: #fafafa;
}
#locations .add-city input {
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #e0e4ec;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
#locations .add-city input:focus {
  border-bottom: 2px solid #f7ca18;
}
@media (max-width: 400px) {
  #locations li {
    height: 200px;
  }
  #locations li .weather,
  #locations li .city {
    display: block !important;
    float: none !important;
    width: 100% !important;
    text-align: center !important;
    padding: 0 !important;
  }
  #locations li .city {
    padding: 35px 0 10px 0 !important;
  }
  #locations li .city span {
    font-size: 10px !important;
  }
  #locations li .weather {
    padding: 0 0 0 28px !important;
  }
}
/*   Profile Widget
---------------------------------------------------------------------------------------------- */
.widget-profile .profile-top {
  display: block;
  position: relative;
}
.widget-profile .profile-top .wprofile-img {
  height: 250px;
  overflow: hidden;
  background-color: #000000;
}
.widget-profile .profile-top .wprofile-img img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.widget-profile .profile-top .wprofile-heading {
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
}
.widget-profile .profile-top .wprofile-heading .wprofile-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
}
.widget-profile .profile-top .wprofile-image {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.widget-profile .profile-top .wprofile-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.widget-profile .profile-top .wprofile-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.widget-profile .profile-top .wprofile-icon a {
  text-decoration: none;
  background-color: #fc6042;
  text-align: center;
  display: block;
  padding: 6px;
}
.widget-profile .profile-top .wprofile-icon a i {
  color: #ffffff;
  font-size: 18px;
}
.widget-profile .profile-bottom {
  margin: 0;
  background-color: #fafafa;
  padding-top: 50px;
}
.widget-profile .profile-bottom li {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 20px;
  margin: 10px 0px;
  border-right: 1px solid #e0e4ec;
  width: 32%;
}
.widget-profile .profile-bottom li .wprofile-item {
  color: #8a8c8f;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.widget-profile .profile-bottom li:last-child {
  border-right: 0px;
}
/*multi select tile layout*/
.search-filter-widget .searchable-container {
  margin: 20px;
}
.search-filter-widget .searchable-container label .btn-default {
  margin: 5px;
  box-shadow: 5px 8px 8px 0 #ccc;
}
.search-filter-widget .searchable-container label .btn-default .active {
  background-color: #007ba7;
  color: #FFF;
}
.search-filter-widget .searchable-container label .bizcontent {
  width: 100%;
}
.search-filter-widget .searchable-container .btn-group {
  width: 90%;
}
.search-filter-widget .searchable-container .btn {
  width: 100px;
  height: 100px;
}
.search-filter-widget .searchable-container .btn span.glyphicon {
  opacity: 0;
}
.search-filter-widget .searchable-container .btn.active span.glyphicon {
  opacity: 1;
}
